//npm.fontawesome.com/:_authToken=E7360DD3-650C-4357-867E-697B3ED46CD4
@fortawesome:registry=https://npm.fontawesome.com/
registry=https://registry.npmjs.org/
user-agent=pnpm/10.6.3 npm/? node/v22.14.0 win32 x64