//npm.fontawesome.com/:_authToken=21312312312345454534324234
@fortawesome:registry=https://npm.fontawesome.com/
prefix=D:\path\to\nodejs\18.13.0\.npm
registry=https://registry.npmjs.org/
user-agent=pnpm/8.6.12 npm/? node/v18.5.0 win32 x64